<div class="contenedor-footer">
    <footer class="bg-neutralVeryDarkViolet px-6 md:px-24 py-12 grid md:grid-cols-1fr2fr justify-center text-center">
        <div class="flex justify-center md:place-self-start pb-4">
            <img class="invert-[1] object-contain" src="../images/logo.svg" width="121" height="42" alt="Logo footer">
        </div>
        <nav class="md:flex md:justify-end md:gap-20">
            <ul>
                <span class="text-white inline-block md:block md:text-left pb-4 pt-8 md:pt-0">Features</span>
                <li><a class="text-neutralGrayishViolet hover:underline hover:text-primaryCyan inline-block md:block md:text-left py-1" href="#">Link Shortening</a></li>
                <li><a class="text-neutralGrayishViolet hover:underline hover:text-primaryCyan inline-block md:block md:text-left py-1" href="#">Branded Links</a></li>
                <li><a class="text-neutralGrayishViolet hover:underline hover:text-primaryCyan inline-block md:block md:text-left py-1" href="#">Analytics</a></li>
            </ul>
            <ul>
                <span class="text-white inline-block md:block md:text-left pb-4 pt-8 md:pt-0">Resources</span>
                <li><a class="text-neutralGrayishViolet hover:underline hover:text-primaryCyan inline-block md:block md:text-left py-1" href="#">Blog</a></li>
                <li><a class="text-neutralGrayishViolet hover:underline hover:text-primaryCyan inline-block md:block md:text-left py-1" href="#">Developers</a></li>
                <li><a class="text-neutralGrayishViolet hover:underline hover:text-primaryCyan inline-block md:block md:text-left py-1" href="#">Support</a></li>
            </ul>
            <ul>
                <span class="text-white inline-block md:block md:text-left pb-4 pt-8 md:pt-0">Company</span>
                <li><a class="text-neutralGrayishViolet hover:underline hover:text-primaryCyan inline-block md:block md:text-left py-1" href="#">About</a></li>
                <li><a class="text-neutralGrayishViolet hover:underline hover:text-primaryCyan inline-block md:block md:text-left py-1" href="#">Our Team</a></li>
                <li><a class="text-neutralGrayishViolet hover:underline hover:text-primaryCyan inline-block md:block md:text-left py-1" href="#">Careers</a></li>
                <li><a class="text-neutralGrayishViolet hover:underline hover:text-primaryCyan inline-block md:block md:text-left py-1" href="#">Contact</a></li>
            </ul>
            <div class="flex justify-center md:grid md:grid-cols-4 gap-8 md:gap-4 pt-10 md:pt-0">
                <img src="../images/icon-facebook.svg" alt="facebook">
                <img src="../images/icon-twitter.svg" alt="twitter">
                <img src="../images/icon-pinterest.svg" alt="pinterest">
                <img src="../images/icon-instagram.svg" alt="instagram">
            </div>
        </nav>
    </footer>
</div>