<div class="contenedor-header">
	<header class="flex md:flex-row flex-col-reverse md:gap-0 gap-4 items-center mx-6 md:mx-24 md:text-left text-center md:h-[666px] pb-40 md:pb-24">
		<div>
			<h1 class="text-4xl md:text-[78px] md:leading-[1.1] py-4 text-neutralVeryDarkBlue font-bold2">More than just shorter links</h1>
			<p class="text-neutralGrayishViolet pb-7 text-lg md:text-[1.4em] md:text-balance md:leading-normal">
				Build your brand's recognition and get detailed
				insights on how your links are performing
			</p>
			<button class="bg-primaryCyan text-white text-xl font-bold tracking-wide rounded-full px-10 py-3 border border-primaryCyan hover:bg-transparent hover:text-primaryCyan" type="button">Get Started</button>
		</div>
		<img class="object-contain md:w-[45%]" src="../images/illustration-working.svg" alt="illustration working" draggable="false">
		<div class="flex justify-center">
		</div>
	</header>
</div>