<div class="contenedor-main bg-gray-100">
    <div class="bg-short-mobile md:bg-short-desktop md:bg-cover bg-primaryDarkViolet bg-no-repeat bg-right-top flex flex-col md:flex-row md:items-center justify-center gap-4 mx-6 md:mx-24 h-[160px] md:h-[168px] p-4 rounded-lg -translate-y-20">
        <input class="rounded-lg p-3 outline-none border focus:border-primaryCyan md:w-[70%] md:p-4" placeholder="Shorten a link here...">
        <button class="bg-primaryCyan text-white p-3 rounded-lg border border-primaryCyan hover:bg-transparent hover:text-primaryCyan md:w-1/6 md:p-4" type="button">Shorten It!</button>
    </div>
    <main class="mx-6">
        <div class="text-center mb-24 md:mx-24">
            <h2 class="text-neutralVeryDarkBlue font-bold text-[1.75em] md:text-4xl pb-6">Advanced Statistics</h2>
            <div class="text-center">
                <p class="text-neutralGrayishViolet md:w-5/12 md:inline-block">Track how your links are performing across the web with our advanced statistics dashboard.</p>
            </div>
        </div>
        <div class="relative z-10 flex flex-col md:flex-row gap-24 mb-20 md:mx-24">
            <div class="bg-white rounded-xl text-center px-6 pb-10 border border-transparent hover:border-primaryCyan">
                <div class="bg-primaryDarkViolet inline-flex justify-center items-center size-20 rounded-full -translate-y-10 md:-translate-x-full">
                    <img class="inline-block" src='../../public/images/icon-brand-recognition.svg' alt="Icono Brand Recognition" loading="lazy">
                </div>
                <span class="block text-xl font-bold text-neutralVeryDarkBlue mb-4 md:text-left">Brand Recognition</span>
                <p class="text-neutralGrayishViolet md:text-left">Boost your brand recognition with each click. Generic links don't mean a thing. Branded links help instil confidence in your content</p>
            </div>
            <div class="bg-white rounded-xl text-center px-6 pb-10 border border-transparent hover:border-primaryCyan">
                <div class="bg-primaryDarkViolet inline-flex justify-center items-center size-20 rounded-full -translate-y-10 md:-translate-x-full">
                    <img src='../../public/images/icon-detailed-records.svg' alt="Icono Detailed Records" loading="lazy">
                </div>
                <span class="block text-xl font-bold text-neutralVeryDarkBlue mb-4 md:text-left">Detailed Records</span>
                <p class="text-neutralGrayishViolet md:text-left">Gain insights into who is clicking your links. Knowing when and where people engage with your content helps inform better decisions.</p>
            </div>
            <div class="bg-white rounded-xl text-center px-6 pb-10 border border-transparent hover:border-primaryCyan">
                <div class="bg-primaryDarkViolet inline-flex justify-center items-center size-20 rounded-full -translate-y-10 md:-translate-x-full">
                    <img src='../../public/images/icon-fully-customizable.svg' alt="Icono Fully Customizable" loading="lazy">
                </div>
                <span class="block text-xl font-bold text-neutralVeryDarkBlue mb-4 md:text-left">Fully Customizable</span>
                <p class="text-neutralGrayishViolet md:text-left">Improve brand awareness and content discoverability through customizable links, supercharging audience engagement.</p>
            </div>
            <div class="bg-primaryCyan h-full md:h-2 w-2 md:w-full absolute top-0 md:top-1/2 left-2/4 md:left-0 -z-10"></div>
        </div>
    </main>
    <div class="bg-boost-mobile md:bg-boost-desktop bg-no-repeat bg-primaryDarkViolet h-[300px] md:h-[250px] flex justify-center items-center gap-4 flex-col">
        <h2 class="text-white text-[1.75em] font-bold">Boost your links today</h2>
        <button class="bg-primaryCyan text-white text-xl font-bold tracking-wide rounded-full px-10 py-3 border border-primaryCyan hover:bg-transparent hover:text-primaryCyan" type="button">Get Started</button>
    </div>
</div>